.header{
  text-align: center;
  width: 100vw;
  height: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b346c;
  flex-direction: column;
  gap: 50px;



}
.sub-heading{
  color: #0398d4;
  font-size: large;

}

.container{
  background-color: white;
  display:flex;
  justify-content: center;
  gap: 12px;
  padding: 3px;
  border-radius: 0.125rem solid white;
  font-size: 25px;
  color: #344151;
}

